
<div class="container">
  <div class="card">
    <ul class="nav nav-tabs">
      <li class="active dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">系所簡介<span class="caret"></span></a>
        <ul class="dropdown-menu">
					<li class="active"><a data-toggle="tab" href="#im_history">歷史沿革</a></li>
					<li><a data-toggle="tab" href="#im_present">現況報導</a></li>
					<li><a data-toggle="tab" href="#im_research">研究目標</a></li>
					<li><a data-toggle="tab" href="#im_future">願景與教學目標</a></li>
				</ul>
      </li>

      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">研究中心<span class="caret"></span></a>
        <ul class="dropdown-menu">
					<li><a data-toggle="tab" href="#rsc_integration">整商整合研究中心</a></li>
					<li><a data-toggle="tab" href="#rsc_gom">全球運籌管理中心</a></li>
					<li><a data-toggle="tab" href="#rsc_cbds">國立中正大學協同商務與決策支援實驗室</a></li>
					<li><a data-toggle="tab" href="#rsc_his">醫療資訊管理研究中心</a></li>
					<li><a data-toggle="tab" href="#rsc_ct">中正資管創意教學網</a></li>
					<li><a data-toggle="tab" href="#rsc_mcis">行動商務與資訊安全管理特色實驗室</a></li>
					<li><a data-toggle="tab" href="#rsc_dbkdb">資料庫和知識庫研究中心</a></li>
					<li><a data-toggle="tab" href="#rsc_er">主機管理群</a></li>
				</ul>
      </li>

      <li><a data-toggle="tab" href="#im_location">系所位置</a></li>
    </ul>

    <div class="tab-content">
      <!-- 歷史沿革 -->
      <div id="im_history" class="tab-pane fade in active">
        <h3 class="text-center">歷史沿革</h3>
        <p>
          本系於民國八十三年八月一日先成立資訊管理研究所，目前已有十四屆碩士班畢業生，每屆畢業生約 30 人，部分畢業生已相繼投入就業市場。自八十七學年度起，本系正式招收大學部新生，呈現了系所合一之嶄新面貌，自八十八學度開始招收第一屆博士生並開辦在職碩士專班。另外，本系所屬之醫療資訊管理研究所，於九十二年八月一日成立，目前每年招收新生13位。
			  </p>
        <p>
          本系目前共有 14 位專任教師，其中教授 6 名，副教授 2 名，助理教授 6 名，均為學有專精，研究教學雙全的資管相關領域博士。
					目前本系有博士班研究生 59 位，資管所碩士班研究生 80 位，醫管所碩士班研究生共 31 位，大學部學生 168位，以及在職碩士專班同學 104 位在學。
			  </p>
        <p>
        	中正資管系逐步的成長擴充，學習環境日趨完善，各項教學設施新穎充實，無論軟體、硬體、師資、設備、教師的研究或畢業生的表現，已在全國資訊管理學界中建立聲譽，獲得極高的評價。進一步，本系將繼續拓展國際視野，並帶動中南部各種產業的發展，協助企業主運用資訊科技來面對廿一世紀世界劇變之全新挑戰。
			  </p>
        <p>
        	本系於民國 83 年創系，由 李有仁 教授 擔任第一任系主任，歷屆主任如下表：
			  </p>

        <table class="table table-list-search">
          <tr>
					  <td> 年度 </td>
						<td> 83 ~ 84 </td>
						<td> 85 ~ 88 </td>
						<td> 89 ~ 91 </td>
						<td> 92 ~ 94 </td>
						<td> 95 ~ 97 </td>
						<td> 98 ~ 100 </td>
						<td> 101 ~ 103 </td>
						<td> 104 ~ 迄今 </td>
					</tr>
					<tr>
						<td> 歷屆主任 </td>
						<td> 李有仁 </td>
						<td> 陳鴻基 </td>
						<td> 黃興進 </td>
						<td> 吳英隆 </td>
						<td> 古政元 </td>
						<td> 洪新原 </td>
						<td> 廖則峻 </td>
						<td> 張怡秋 </td>
					</tr>
        </table>
      </div>

      <!-- 現況報導 -->
      <div id="im_present" class="tab-pane fade">
        <h3 class="text-center">現況報導</h3>
        <p>
				  做為一個資訊管理教學部門，除了授課以外，學術研究也是我們的重點工作，本系各研究中心已經累積了相當豐碩的研究成果。
				</p>
				<p>
					本系研究的範圍寬廣，遍及資管的各種專業議題，例如︰群體支援系統、決策支援系統及策略性資訊系統、資訊科技管理和資訊經濟學等等資管相關領域；另外，當今最熱門的網際網路和電子商務更是我們的重點目標。
				</p>
				<p>
					在教學課程方面，專業的資訊管理知識的智慧累積是我們最關切的項目，例如︰中、高階層資管人員之管理理論與實務，還有，資訊科技的各種應用，也是我們的重要學程，例如︰企業資料通訊、物件導向程式設計、人工智慧等。這些課程不僅是做為同學畢業的門檻，也為論文的寫作鋪路，若同學有意立即投入職場，也能做好萬全的準備。在業界，中正資管人是企業主的左右股肱，擔任網路工程師、系統整合者、系統管理者、資料庫管理師、網路管理工程師、程式設計師、系統分析師、專案經理、資訊教育工作、專案計劃助理等等，都十分稱職。
				</p>
				<p>
					畢業後選擇升學的中正資管人，繼續進修碩、博士班的機會也很好，國內、國外的資訊管理、資訊科學、資訊工程、工業工程、企管、財管、人管、工管相關研究所種類及數量繁多，畢業後的事業發展相當有前瞻性。
				</p>
      </div>

      <!-- 研究目標 -->
			<div id="im_research" class="tab-pane fade" >
        <h3 class="text-center">研究目標</h3>
        <p>
					本系發展的目標，注重教導學生獨立思考的能力，重視理論與實務之結合和系統整合的專業，並因應社會需要與國家發展資訊工業政策，積極培育高級資訊管理人才，開拓國際學術交流。
				</p>
				<p>
					本系教授皆以學術研究為優先，我們努力的建立優良的學術研究環境，除了大量添購圖書外也採購各式新進教學與研究設備。現階段研究重點在群體支援系統之研發與管理、電子商務之應用與管理、資訊科技管理、資訊經濟學、決策支援系統、資訊系統與組織企業再造工程等等。
				</p>
			</div>

      <!-- 願景與教學目標 -->
      <div id="im_future" class="tab-pane fade" >
        <h3 class="text-center">願景與教學目標</h3>
        <h4>願景 ─ MIT</h4>
          <p>
					  以管理(Management)M，創新(Innovation)I及科技(Technology)T為核心，將中正資管建立成全國資管學術研究及教學的標竿系所。
				  </p>

        <h4>教學目標</h4>
					<p>
						本系所的教學目標依大學部、碩士班、碩士在職專班及博士班等不同學制，分別簡述如下：
					</p>
          <p>
            1. 大學部方面，著重於培養學生瞭解企業的運作、具備管理的素養以及運用資訊科技進行實作的能力，因此課程的規劃亦以企業組織、管理概念以及資訊系統開發與運用為最重要的主軸，其中特別強調管理和技術的平衡。
					</p>
          <p>
           	2. 碩士班方面，強調培養做基礎研究的能力，以期能夠為企業或組織找出運作上的問題，並能尋求使用資訊科技的解決方法，所以會著重訓練學生運用資訊科技來管理企業組織的運作，並進一步能應用所學或所驗證的相關理論來整合資訊科技及商業管理知識，最終目的在協助企業提昇效率及創造競爭的優勢。另有醫療資訊管理碩士班，除了須具備上述能力之外，還必須充實醫療的領域知識，以期能夠處理解決醫療機構裏的資訊科技與管理議題。這兩個碩士班學制所特別強調的是找出問題以及運用資訊科技解決問題的能力。
					</p>
          <p>
           	3. 碩士在職專班，目標在培養學生具備綜覽企業或組織運作之視野與能力，以期能夠善加運用資訊科技來提升管理效能，全面創造企業或組織的資訊化環境，並進而主導企業或組織未來的發展方向，因此在職專班所特別強調的是充實各階主管的資訊與管理素養。
					</p>
          <p>
           	4. 博士班，目標在培育優秀的研究人才與資管師資，使其具有國際觀、具備從事資訊科技與管理教育的能力，並能夠獨立進行資訊管理相關的學術研究。訓練的重點包括如何發掘資訊管理與科技相關的研究議題，如何探索問題發生的原因，如何找出技術面及管理面的解決方法，除了發展新的技術之外，也探討這些問題對個人及組織的衝擊。
					</p>
      </div>

      <!-- 研究中心 -->
      <!-- 整商整合研究中心 -->
      <div id="rsc_integration" class="tab-pane fade">
        <div align="center">
          <img src="assets/img/introduction_img/rsc_integration.jpg" class="img-range"/>
        </div>
        <br><br>
        <p>
         	配合政府未來產業電子化政策，實施前瞻性人才培育計畫，現為國家相關人力資源培育部會之重點工作項目。其中以民國80年至90年十年為期之產業自動化計畫』〈製造自動化、商業自動化、農業自動化以及營建自動化四項子計畫〉，即將於公元2000年時完成階段性之任務。
 				</p>
        <p>
         	在邁向二十一世紀之際，單獨的各項產業自動化升級已不足以應付未來十倍速化環境的變遷，不論製造業或商業皆將面對資訊化時代、消費需求的多變性，產品速度的需求及各類產業、業種、業態間之供應鏈整合與快速反應之問題。
 				</p>
        <p>
         	因此如何接續此十年計畫之成果，並針對今後我國產業以躋身為全球生產供應鏈成員之目標，擴大『製商整合』在相關核心技術與人才培育之深度廣度為首要條件，以求我國發展『製造服務業之全球競爭特色。
				</p>
      </div>

      <!-- 全球運籌管理中心 -->
      <div id="rsc_gom" class="tab-pane fade">
        <div align="center">
          <img src="assets/img/introduction_img/rsc_gom.gif" class="img-range"/>
        </div>
        <br><br>
 				<p>
 					隨著網路時代的來臨，區域性的經濟圍籬已漸漸被打破，取而代之的是全球性的整合新經濟，跨國界的全球管理將成為E世代的一項趨勢。
 				</p>
 				<p>
					有鑑於此，本實驗室將針對電子化時代所產生的議題及可能的因應之道作一有系統的研究。盼能規劃並推動全球運籌管理新學程，培養相關產業人才，編撰全球運籌管理學程相關教材及本土化個案，強化老師學生瞭解本土化實務個案應用，並規劃、籌設全球運籌管理產學聯盟體系，辦理相關產學活動，促進產學交流。
				</p>
      </div>

      <!-- 國立中正大學協同商務與決策支援實驗室 -->
      <div id="rsc_cbds" class="tab-pane fade">
        <div align="center">
          <img src="assets/img/introduction_img/rsc_cbds.jpg" class="img-range"/>
        </div>
        <br><br>
 					<p>
 						國立中正大學協同商務與決策支援實驗室成立於2004年，主要的研究主題包括：企業電子化、知識管理系統、與決策支援系統等領域。目前實驗室的研究能量，包括：洪新原教授擔任主持人、一位副教授級的研究人員、七位博士生、十二位碩士生、及六位大學生。每年接受來自國科會、經濟部、與私人企業等超過百萬元的研究經費支持。
 					</p>
 					<p>
 						至今的研究成果包括：四十餘篇國內外學術期刊、八十餘篇博碩士論文、二十餘篇研究報告、及製造業與零售業的廠商輔導實例。
 					</p>
 					<p>
 						最後，在國際接軌的部份，目前該實驗室也是國際華人資訊系統學會(International Chinese Information Systems Association)的總部，並且也積極協助辦理2008亞太資訊系統國際學術研討會(PACIS 2008)。
 					</p>
      </div>

      <!-- 醫療資訊管理研究中心 -->
      <div id="rsc_his" class="tab-pane fade">
        <div align="center">
          <img src="assets/img/introduction_img/rsc_his.gif" class="img-range"/>
        </div>
        <br><br>
					<p>
						近年來台灣醫療產業政策與生態的急劇轉變，使得醫療市場的競爭到達前所未有之境。為了達到永續經營的理想，所以改善經營績效、提升行政服務效率及醫療服務品質成為刻不容緩的重要課題，因此持續不斷的品質改善活動成為現今醫療院所努力推行的因應之道。
					</p>
					<p>
						有鑑於此，本中心成立的功能性目標，即從資訊科技應用的角度，協助各醫療院所進行作業流程與品質管理的改進，同時提供各項相關問題的諮詢與輔導，以期提昇國內醫療產業的競爭力。
					</p>
      </div>

      <!-- 中正資管創意教學網 -->
			<div id="rsc_ct" class="tab-pane fade">
				<div align="center">
          <img src="assets/img/introduction_img/rsc_ct.gif" class="img-range"/>
        </div>
				<br><br>
				<p>
					不同的學者對於創造力都有不同角度不同層次的看法，但大致上都認為「創造力」是每個人都具有的能力而且運用適當的方法可以逐漸提昇個人的創造力。
				</p>
				<p>
					我們提供了全新的功能以及最豐富的教學資訊，提供您一個最佳的e世代學習環境。
				</p>
			</div>

      <!-- 行動商務與資訊安全管理特色實驗室 -->
			<div id="rsc_mcis" class="tab-pane fade">
				<div align="center">
          <img src="assets/img/introduction_img/rsc_mcis.gif" class="img-range"/>
        </div>
				<br><br>
				<p>
					隨著行動設備持有率的日益普及，電信自由化與寬頻行動通訊（3G）技術的日漸成熟，行動商務（Mobile Commerce）儼然成為繼電子商務之後，學界與業界所共同關注的焦點。
				</p>
				<p>
					隨著行動化時代的來臨，各種產業在企業運作流程、應用服務型態與資訊系統技術方面均遭逢極大的變革挑戰，而由於行動商務交易過程中時常涉及隱私與機密性資訊，因此資訊安全的確保，也成為行動商務能否順利推展的關鍵成功因素之一。
				</p>
			</div>

			<!-- 資料庫和知識庫研究中心 -->
			<div id="rsc_dbkdb" class="tab-pane fade">
				<div align="center">
					<img src="assets/img/introduction_img/rsc_dbkdb.gif" class="img-range">
				</div>
         <br><br>
				<p>
					中正大學資管所成立資料庫與知識庫實驗室的目的，除了要讓本系所的學生更加了解資料庫之架構外，並藉著資料庫實驗室的建立，提供同學更多學習的空間，增加實機操作經驗，讓同學更熟悉操作、設計與管理資料庫，同時也提供資料庫相關的學習網站，藉此增加彼此間的互動。
				</p>
			</div>

			<!-- 主機管理群 -->
			<div id="rsc_er" class="tab-pane fade">
				<div align="center">
					<img src="assets/img/introduction_img/rsc_er.gif" class="img-range">
				</div>
				<br><br>
				<p>
					主機提供了郵件服務，我們使用 Open Webmail 做為我們的操作介面。Google 提供免費的 SiteSearch 與 WebSearch給全世界的教育機構和非營利組織。現在您也可以在本服務中搜尋這個網域的內容，或是全球的網際網路。
         </p>
			</div>

      <!-- 系所位置 -->
      <div id="im_location" class="tab-pane fade">
			  <div align="center">
						<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0">
							<param name="movie" value="introduction_location.swf" />
							<param name="quality" value="high" />
							<embed src="assets/img/introduction_img/introduction_location.swf" quality="high" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" class="img-range" />
						</object>
					</div>
        <br><br>
					<p>本校交通資訊：</p>
				<p>
					國道一號南下方向由大林交流道(45)下交流道，依照指示往省道台一線民雄方向行駛，於縣道106時左轉，再行駛五分鐘即抵達。
				</p>
				<p>
					國道一號北上方向由嘉義交流道(46)下交流道，依照指示往省道台一線民雄方向行駛，行駛約二十分鐘，轉入縣道106，再行駛五分鐘即抵達。
				</p>
				<p>
					國道三號(南二高)
					請從竹崎交流道下，沿縣道166往民雄方向行駛，再依照沿路之指示牌，即可抵達。
				</p>
				<p>
					圖片來源：國立中正大學校園電子地圖查詢系統
				</p>
			</div>

  </div>
</div>
