/* You can add global styles to this file, and also import other style files */
.loader{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(111, 196, 206);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.listview .date {
  position: absolute;
  padding-left: 10px;
  display: inline-block;
}
.listview li {
  min-height: auto !important;
  display: flex;
  align-items: center;
}
.listview .list-title {
  position: relative;
  padding-left: 100px;
  display: inline-block;
}
.listview .list-style-type {
  margin-top: 71px;
}
.listview .list-style-type h3 {
  display: none;
  margin: 0;
}
@media only screen and (max-width: 990px) {
  .listview .list-title {
    width: 100%;
  }
}
@media only screen and (max-width: 676px) {
  .listview li {
    align-items: flex-start;
    flex-direction: column;
  }
  .listview .list-title {
    padding-left: 0px;
  }
  .listview .date {
    position: relative;
    flex: 1;
    padding-left: 0px;
  }
}
