<div class="row icon_menu">
  <div class="icon_cells">
    <div class="icon_cell">
      <div id="intro" class="link">
        <a routerLink="/introduction/Intro" routerLinkActive="active">
          <div class="link_icon">
            <i class="info circle icon"></i>
          </div>
          <div class="link_name">系所介紹</div>
        </a>
      </div>
    </div>
    <div class="icon_cell">
      <div id="recruit" class="link">
        <a routerLink="/recruitments" routerLinkActive="active">
          <div class="link_icon">
            <i class="student icon"></i>
          </div>
          <div class="link_name">招生資訊</div>
        </a>
      </div>
    </div>
    <div class="icon_cell">
      <div id="document" class="link">
        <a routerLink="/document" routerLinkActive="active">
          <div class="link_icon">
            <i class="file text icon"></i>
          </div>
          <div class="link_name">文件下載</div>
        </a>
      </div>
    </div>
    <div class="icon_cell">
      <div id="other" class="link">
        <a routerLink="/other" routerLinkActive="active">
          <div class="link_icon">
            <i class="linkify icon"></i>
          </div>
          <div class="link_name">其他</div>
        </a>
      </div>
    </div>
  </div>
</div>
