<div class="container-fluid">
  <div class="row other_page">
    <div class="col-xs-12 col-sm-12 col-lg-3">
      <div class="title_big">
        其他
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-9">
      <div class="contentWrapper">
        <ul>
          <li>
            <a class="link" href="http://www.mis.ccu.edu.tw:8088/phd/index.aspx" target="blank">
              <h3>一、博士班資格審查系統</h3>
            </a>
          </li>
          <li>
            <a class="link" href="http://mail.google.com/a/mis.ccu.edu.tw">
              <h3>二、Google Mail</h3>
            </a>
          </li>
          <li>
            <a class="link"  routerLink="/" routerLinkActive="active">
              <h3>三、首頁</h3>
            </a>
          </li>
          <li>
            <a class="link" href="http://www.mis.ccu.edu.tw:8088/" target="blank">
              <h3>四、舊版官網</h3>
            </a>
          </li>
          <li>
            <a class="link" href="http://www.mis.ccu.edu.tw:8088/eng/index_eng.asp">
              <h3>五、English</h3>
            </a>
          </li>

  

        </ul>
      </div>
    </div>
  </div>
</div>
