<!-- your content here -->
<nav>
  <div class="cd-primary-nav">
    <ul class="nav">
  		<li class="news">
        <a class="bt_title" routerLink="/news-listview" routerLinkActive="active">
          <div class="icon">
            <i class="announcement icon"></i>
          </div>
          <h3>最新消息</h3>
        </a>
        <div class="breakdown">
          <span><a class="menu_item" routerLink="/news-list/dept" routerLinkActive="active">系所公告</a></span>
          <span><a class="menu_item" routerLink="/news-list/speech" routerLinkActive="active">演講公告</a></span>
          <div class="item_wrapper">
            <span class="menu_item no_link_item">學位考試公告</span>
            <span><a class="menu_sub_item" routerLink="/news-list/masterexam" routerLinkActive="active">碩士班</a></span>
            <span><a class="menu_sub_item" routerLink="/news-list/embaexam" routerLinkActive="active">碩專班</a></span>
            <span><a class="menu_sub_item" routerLink="/news-list/phdexam" routerLinkActive="active">博士班</a></span>
          </div>
          <span><a class="menu_item" routerLink="/news-list/other" routerLinkActive="active">其他公告</a></span>
        </div>
  		</li>
  		<li class="intro">
        <a class="bt_title" routerLink="/introduction" routerLinkActive="active">
          <div class="icon">
            <i class="info icon"></i>
          </div>
          <h3>系所介紹</h3>
        </a>
        <div class="breakdown">
          <span><a class="menu_item" routerLink="/introduction/Intro">系所簡介</a></span>
          <span><a class="menu_item" routerLink="/introduction/Research">研究中心</a></span>
          <span><a class="menu_item" routerLink="/introduction/Member">系所成員</a></span>
          <span><a class="menu_item" routerLink="/introduction/Location">系所位置</a></span>
        </div>
  		</li>
  		<li class="recruit">
        <a class="bt_title" routerLink="/recruitments" routerLinkActive="active">
          <div class="icon">
            <i class="student icon"></i>
          </div>
  			  <h3>招生訊息</h3>
        </a>
        <div class="breakdown">
          <div><a class="menu_item" routerLink="/recruitments" routerLinkActive="active">
            <div>學士班</div>
            <div>碩士班</div>
            <div>碩專班</div>
            <div>博士班</div>
            <div>學分班</div>
          </a></div>
        </div>
  		</li>
  		<li class="document">
        <a class="bt_title" routerLink="/document" routerLinkActive="active">
          <div class="icon">
            <i class="file text icon"></i>
          </div>
  			  <h3>文件下載</h3>
        </a>
        <div class="breakdown">
          <span><a class="menu_item" routerLink="/document" routerLinkActive="active">
            <div>學士班</div>
            <div>碩士班</div>
            <div>碩專班</div>
            <div>博士班</div>
          </a></span>
        </div>
  		</li>
  		<li class="other">
        <a class="bt_title" routerLink="/other" routerLinkActive="active">
          <div class="icon">
            <i class="linkify icon"></i>
          </div>
  			  <h3>其他</h3>
        </a>
        <div class="breakdown">
          <span><a class="menu_item" href="http://www.mis.ccu.edu.tw:8088/phd/index.aspx" target="blank">博士班資格審查系統</a></span>
          <span><a class="menu_item" href="http://mail.google.com/a/mis.ccu.edu.tw" target="blank">Google Mail</a></span>          
          <span><a class="menu_item" routerLink="/" routerLinkActive="active">首頁</a></span>
          <span><a class="menu_item" href="http://www.mis.ccu.edu.tw:8088/" target="blank">舊版官網</a></span>
          <span><a class="menu_item" href="http://www.mis.ccu.edu.tw:8088/eng/index_eng.asp" target="blank">English</a></span>
        </div>
  		</li>
    </ul>
  </div>

</nav>

<!-- </main> -->
<!-- cd-content -->
<div class="cd-overlay-nav">
  <span></span>
</div>
<!-- cd-overlay-nav -->

<div class="cd-overlay-content">
  <span></span>
</div>
<!-- cd-overlay-content -->

<a class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
