<div class="container recruit">
  <div class="col-xs-12 col-md-2">
    <h2>招生資訊</h2>
    <ul class="nav nav-pills nav-stacked">
      <li *ngIf="undergraduates"><a data-toggle="tab" href="#undergraduates">大學部</a></li>
      <li *ngIf="graduates"><a data-toggle="tab" href="#graduates">碩士班</a></li>
      <li *ngIf="grads"><a data-toggle="tab" href="#grads">碩專班</a></li>
      <li *ngIf="doctorials"><a data-toggle="tab" href="#doctorials">博士班</a></li>
      <li *ngIf="cents"><a data-toggle="tab" href="#cents">學分班</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-10 ">
    <div class="tab-content">
      <div id="undergraduates" class="tab-pane fade in active">
        <app-button-add (click)="goAddPage('undergraduate')"></app-button-add>
        <app-recruit-content *ngIf="undergraduates" [type]="'undergraduates'" [recruits]="undergraduates" [edit]=true></app-recruit-content>
      </div>
      <div id="graduates" class="tab-pane fade">
        <app-button-add (click)="goAddPage('graduate')"></app-button-add>
        <app-recruit-content *ngIf="graduates" id="graduates" class="tab-pane fade" [type]="'graduates'" [recruits]="graduates" [edit]=true></app-recruit-content>
      </div>
      <div id="grads" class="tab-pane fade">
        <app-button-add (click)="goAddPage('grad')"></app-button-add>
        <app-recruit-content *ngIf="grads" id="grads" class="tab-pane fade" [type]="'grads'" [recruits]="grads" [edit]=true></app-recruit-content>
      </div>
      <div id="doctorials" class="tab-pane fade">
        <app-button-add (click)="goAddPage('doctorial')"></app-button-add>
        <app-recruit-content *ngIf="doctorials" id="doctorials" class="tab-pane fade" [type]="'doctorials'" [recruits]="doctorials"
          [edit]=true></app-recruit-content>
      </div>
      <div id="cents" class="tab-pane fade">
        <app-button-add (click)="goAddPage('cent')"></app-button-add>
        <app-recruit-content *ngIf="cents" id="cents" class="tab-pane fade" [type]="'cents'" [recruits]="cents" [edit]=true></app-recruit-content>
      </div>
    </div>
  </div>
</div>
