<div class="col-xs-12 col-md-8 col-md-offset-2" *ngIf="news">
  <h3>{{news.title}}</h3>
  <table class="table row">
    <thead>
      <tr>
        <th class="col-md-2"></th>
        <th class="col-md-8"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>標題</td>
        <td><input [(ngModel)]="news.title" type="text" name="title" class="form-control" required></td>
      </tr>
      <tr>
        <td>類別</td>
        <td>{{news.type | newsType}}</td>
      </tr>
      <tr *ngIf="news.type=='masterexam'">
        <td>子類別</td>
        <td>
          <select class="form-control" name="subType" [(ngModel)]="news.subType" required>
            <option value="general">資訊管理</option>
            <option value="health_care">醫療資訊管理</option>
          </select>
        </td>
      </tr>
      <tr >
        <td> 發文者</td>
        <td>{{news.publisher}}</td>
      </tr>
      <tr *ngIf="editMode">
        <td>公告時間</td>
        <td>{{news.time | date: 'mediumDate'}}</td>
      </tr>
      <tr *ngIf="editMode">
        <td>更新時間</td>
        <td>{{news.updateTime | date: 'mediumDate'}}</td>
      </tr>
      <tr>
        <td>內文</td>
        <td [innerHTML]="news.content | safe: 'html'"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container col-xs-12 col-md-8 col-md-offset-2">
  <div class="row">
    <ckeditor *ngIf="news" [(ngModel)]="news.content"></ckeditor>
  </div>
  <hr>
  <div *ngIf="!editMode" style="float:right">
    <input type="checkbox" name="mail" value="true"  [(ngModel)]="news.mail">
    <label for="mail">寄信</label>
  </div>
  <div class="form-group">
    <button *ngIf="editMode" class="btn btn-danger btn-outline" (click)="deleteNews()">刪除</button>
    <button *ngIf="editMode" class="btn btn-primary pull-right" (click)="updateNews()">儲存變更</button>
    <button *ngIf="!editMode" class="btn btn-success btn-block" (click)="createNews()">新增</button>
  </div>
</div>
