<div class="horizontal_timeline">
  <ul class="timeline" id="timeline">
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">83~84</span>
      </div>
      <div class="status">
        <h4>李有仁</h4>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">85~88</span>
      </div>
      <div class="status">
        <h4>陳鴻基</h4>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">89~91</span>
      </div>
      <div class="status">
        <h4>黃興進</h4>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">92~94</span>
      </div>
      <div class="status">
        <h4>吳英隆</h4>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">95~97</span>
      </div>
      <div class="status">
        <h4>古政元</h4>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">98~100</span>
      </div>
      <div class="status">
        <h4>洪新原</h4>
      </div>
    </li>
    <li class="li complete">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">101~103</span>
      </div>
      <div class="status">
        <h4>廖則峻</h4>
      </div>
    </li>
    <li class="li">
      <div class="timestamp">
        <span class="author"></span>
        <span class="date">104~迄今</span>
      </div>
      <div class="status">
        <h4>張怡秋</h4>
      </div>
    </li>
  </ul>
</div>
<div class="vertical_timeline col-sm-12">
  <ul class="vertical-timeline">
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>83~84</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">李有仁</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>85~88</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">陳鴻基</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>89~91</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">黃興進</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>92~94</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">吳英隆</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>95~97</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">古政元</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>98~100</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">洪新原</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>101~103</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">廖則峻</div>
      </div>
    </li>
    <li class="vertical-timeline-item">
      <div class="vertical-timeline-info">
        <span>104~迄今</span>
      </div>
      <div class="vertical-timeline-marker"></div>
      <div class="vertical-timeline-content">
        <div class="vertical-timeline-title">張怡秋</div>
      </div>
    </li>
  </ul>
</div>
