<div class="container col-xs-12 col-md-8 col-md-offset-2">
  <div class="row">
    <div class="tab-content rule-pane" *ngIf="recruit">
      <div class="form-group">
        <label for="name">標題</label>
        <input [(ngModel)]="recruit.title" type="text" name="title" class="form-control" (change)="append($event)" required>
      </div>
      <div class="col-md-12 rule-pane">
        <h3>{{recruit.title}}</h3>
        <p class="autoBreak" align="left" [innerHTML]="recruit.content | safe: 'html'">
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <ckeditor *ngIf="recruit" [(ngModel)]="recruit.content"></ckeditor>
  </div>
  <hr>
  <div class="form-group">
    <button *ngIf="editMode" class="btn btn-danger btn-outline" (click)="deleteRecruit()">刪除</button>
    <button *ngIf="editMode" class="btn btn-primary pull-right" (click)="updateRecruit()">儲存變更</button>
    <button *ngIf="!editMode" class="btn btn-success btn-block" (click)="createRecruit()">新增</button>
  </div>
</div>
